
//
// VARIABLES
//

// Colors
$blue: #875400;

// Grays
$black: #773300;
$darkerGray: #884411;
$darkGray: #995522;
$gray: #CC8844;
$lightGray: #F9C9AD;
$white: #FFEECC;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
