
//
// VARIABLES
//

// Colors
$blue: #fc8225;

// Grays
$black: #773300;
$darkerGray: #884411;
$darkGray: #995522;
$gray: #CC8844;
$lightGray: #F9C9AD;
$white: #FFEECC;

// Font stacks
$helvetica: "Courier New", monospace;
$helveticaNeue: "Courier New", monospace;
$georgia: "Courier New", monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
